USE [master]
GO
/****** Object:  Database [FantasySystemDbMVC]    Script Date: 14-10-2022 20:55:01 ******/
CREATE DATABASE [FantasySystemDbMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FantasySystemDbMVC', FILENAME = N'D:\Program Files\MSSQL15.MSSQLSERVER\MSSQL\DATA\FantasySystemDbMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FantasySystemDbMVC_log', FILENAME = N'D:\Program Files\MSSQL15.MSSQLSERVER\MSSQL\DATA\FantasySystemDbMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FantasySystemDbMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FantasySystemDbMVC]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14-10-2022 20:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 14-10-2022 20:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zodiaco]    Script Date: 14-10-2022 20:55:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zodiaco](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Signo] [nvarchar](max) NOT NULL,
	[Mes] [nvarchar](max) NOT NULL,
	[Rango] [int] NOT NULL,
	[Imagen] [nvarchar](max) NOT NULL,
	[CategoriaId] [int] NOT NULL,
 CONSTRAINT [PK_Zodiaco] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Zodiaco_CategoriaId]    Script Date: 14-10-2022 20:55:01 ******/
CREATE NONCLUSTERED INDEX [IX_Zodiaco_CategoriaId] ON [dbo].[Zodiaco]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categorias] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Activo]
GO
ALTER TABLE [dbo].[Zodiaco]  WITH CHECK ADD  CONSTRAINT [FK_Zodiaco_Categorias_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zodiaco] CHECK CONSTRAINT [FK_Zodiaco_Categorias_CategoriaId]
GO
USE [master]
GO
